<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audi Sedan | Luxury Sedan | Audi Price | Audi India</title>
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <link rel="icon" href="../static/img/audi.png" type="image/gif" sizes="16x16">
</head>

<body>

    <nav>
        <!-- navbar section -->
        <div class="navbar_section">
            <div class="navbar_section1">
                <img src="../static/img/menu.png" alt="" class="menu_icon">
                <p class="Menu_text">Menu</p>
            </div>
            <div class="navbar_section2">
                <img src="../static/img/audi.png" alt="" class="audi_logo">
            </div>
        </div>
    </nav>

    <main>
        <!-- main banner image section -->
        <div class="main_banner">
            <div class="shadow">
                <div class="main_banner_text_container">
                    <div class="main_banner_text_part">
                        <h1 class="main_banner_heading"> The new <br> Audi A8 L</h1>
                        <p class="sub_para">The view of progress. <br>
                            Both inside & out.</p>
                    </div>
                    <div class="main_banner_text_button">
                        <button class="book_your_interest">
                            <h3 class="book_your_interest_text">Book your Interest</h3>
                        </button>
                        <div class="pre_book_now">
                            <h3 class="pre_book_now_text">pre-book Now</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- car model collection -->
        <section>
            <div class="car_section">
                <h1 class="Models"> Models
                    <hr>
                </h1>
                <div class="car_image_container1">
                    <button class="backbutton">
                        < </button>
                            <div class="vrleft"></div>
                </div>
                <div class="car_image_container">
                    <div class="car_image" id="image1"></div>
                </div>
                <div class="car_image_container">
                    <div class="car_image" id="image2"></div>
                </div>
                <div class="car_image_container">
                    <div class="car_image" id="image3"></div>
                </div>
                <div class="car_image_container">
                    <div class="car_image" id="image4"></div>
                </div>
                <div class="car_image_container">
                    <div class="car_image" id="image5"></div>
                </div>
                <div class="car_image_container1">
                    <p class="frontbutton">></p>
                    <div class="vrright"></div>
                </div>
            </div>
        </section>

        <!-- the home of electric audi full car image section -->
        <section>
            <div class="section_banner">
                <div class="inner_container">
                    <div class="inner_container_text">
                        <h1 class="home_of_electrics h1head">The home of electric</h1>
                        <p class="home_of_electrics phead">Seeing the world with different eyes is what drives us.
                            Discover more about our <br> vision of the future of mobility. Learn more about the
                            technology in
                            the Audi e- <br> tron along with the charging options,
                            range calculations and its benefits.</p>
                    </div>
                    <div class="inner_container_button">
                        <button class="e_hub">
                            <h3 class="e-tron">e-tron hub</h3>
                        </button>
                        <div class="futurals">
                            <p class="FuturelsAnAttitude">#FuturelsAnAttitude</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- mobail section -->
        <section>
            <div class="section_banner1">
                <div class="mobail">
                    <div class="mobail_image"></div>
                </div>
                <div class="mobailbutton">
                    <div class="mobailtext">
                        <div class="mobail_textpart">
                            <h1 class="Augmented">Augmented Reality</h1>
                        </div>
                        <div class="mobail_button_part">
                            <div class="etron">
                                <h3 class="e-trons">e-tron</h3>
                            </div>
                            <div class="sportedback">
                                <p class="e-tronsportedback">e-tron sportedback</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- red mobail image section  -->
        <section>
            <div class="section_banner2">
                <div class="section_banner2_part1">
                    <div class="section_banner_textpart">
                        <h1 class="section_banner_textpart_header">Because you expect more from your Audi than just a
                            drive from
                            A to B. Download it now, to get more of your car on your phone.</h1>
                        <h1 class="bold">myAudi</h1>
                        <div class="section_banner_textpart_header_button">
                            <div class="connect">
                                <h3 class="e-trons">myAudi Connect</h3>
                            </div>
                            <div class="shop">
                                <h3 class="e-trons">Audi Shop</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section_banner2_part2"></div>
            </div>
        </section>

        <!-- audi car waiting section   -->
        <section>
            <div class="section_bannet3">
                <div class="section_bannet3_part1">
                    <h1 class="waiting">Your Audi is waiting</h1>
                </div>
                <div class="section_bannet3_part2">
                    <div class="waiting_section1">
                        <div class="car_image_waiting_section" id="car1"></div>
                        <div class="clickhear">
                            <h2 class="sub_head">Book a Test Drive</h2>
                            <p class="click">Click here ></p>
                        </div>
                    </div>
                    <div class="waiting_section">
                        <div class="car_image_waiting_section" id="car2"></div>
                        <div class="clickhear">
                            <h2 class="sub_head">Audi Approved Plus</h2>
                            <p class="click">Click here ></p>
                        </div>
                    </div>
                    <div class="waiting_section">
                        <div class="car_image_waiting_section" id="car3"></div>
                        <div class="clickhear">
                            <h2 class="sub_head">Book Online Service</h2>
                            <p class="click">Click here ></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- location section -->
        <section>
            <div class="section_banner4">
                <div class="section_banner4_part1">
                    <h1 class="locate">Locate your dealer</h1>
                    <p class="locate_sub">Find your local Audi Partner and discover your desired Audi live.</p>
                    <p class="postcode">City or postcode <img src="../static/img/gps.png" alt="" class="gps"></p>
                    <hr class="hr">
                    <div class="search">
                        <p class="searchText">Search</p>
                    </div>
                </div>
                <div class="section_banner4_part2"></div>
            </div>
        </section>

        <!-- Release section  -->
        <section>
            <div class="section_bannet4">
                <div class="section_bannet3_part1">
                    <h1 class="waiting">Press Release</h1>
                </div>
                <div class="section_bannet3_part2">
                    <div class="waiting_section1">
                        <div class="car_image_waiting_section" id="sec4car1"></div>
                        <div class="clickhear">
                            <h2 class="sub_headsec4">Audi celebrates 15 glorious years in India - <br> Introduces
                                warranty coverage for 5 years</h2>
                            <p class="clicksec4">2022-06-03 ></p>
                        </div>
                    </div>
                    <div class="waiting_section">
                        <div class="car_image_waiting_section" id="sec4car2"></div>
                        <div class="clickhear">
                            <h2 class="sub_headsec4"> Taken to the next level: The New Audi Q7 <br> now in India</h2>
                            <p class="clicksec4">2022-02-03 ></p>
                        </div>
                    </div>
                    <div class="waiting_section">
                        <div class="car_image_waiting_section" id="sec4car3"></div>
                        <div class="clickhear">
                            <h2 class="sub_headsec4">
                                Audi India opens bookings for its legendary <br> Audi Q7</h2>
                            <p class="clicksec4">2022-01-11 ></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="whitespace"></div>
    <!-- footer -->
    <div class="footer">
        <div class="footer_part1">
            <div class="footer_part1_1">
                <h1 class="white">Models</h1>
                <p class="white_sub">All Models</p>
                <p class="white_sub1"> Model price list</p>
            </div>
            <div class="footer_part1_2">
                <h1 class="white">Innovation</h1>
                <p class="white_sub">Audi Sport</p>
                <p class="white_sub1"> Audi RS e-tron GT</p>
                <p class="white_sub2"> Audi e-tron GT</p>
                <p class="white_sub3">Audi quattro</p>
                <p class="white_sub4">Audi e-tron hub</p>
            </div>
        </div>
        <div class="footer_part2">
            <div class="footer_part1_1">
                <h1 class="white">Used Cars</h1>
                <p class="white_sub">Audi Approved Plus</p>
                <p class="white_sub1"> Dealership Locator</p>

            </div>
            <div class="footer_part1_2">
                <h1 class="white">support</h1>
                <p class="white_sub">Careers</p>
                <p class="white_sub1"> Press</p>
                <p class="white_sub2">Audi Shop</p>
                <p class="white_sub3">Imprint</p>
                <p class="white_sub4">Corporate Governance</p>
                <p class="white_sub5">Contact / Newsletter</p>
            </div>

        </div>
        <div class="footer_part3">
            <div class="footer_part3_1">
                <h1 class="white">Customer Area</h1>
                <p class="white_sub">Audi Owners</p>
                <p class="white_sub1"> Audi Service</p>
                <p class="white_sub2"> myAudi Connect</p>
                <p class="white_sub3">Sustainability</p>
                <p class="white_sub4">Discover Audi from Home</p>
                <p class="white_sub5">Book a test drive</p>

            </div>
            <div class="footer_part3_2">
            </div>
        </div>
    </div>

</body>

</html>